* {
  padding:0;
  margin:0;
}

html {
  font:14px normal Arial, sans-serif;
  color:#626771;
  background-color:#fff;
}

body {
  padding:60px;
  text-align: center;
}

/* Navigation */

.c-navigation ul {
  list-style:none;
  display: inline-block;
  margin-bottom: 20px
}

.c-navigation ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:#7B8585;
  transition:0.3s;
}

.c-navigation ul li a {
  text-decoration: none;
}

.c-navigation ul li:hover {
  background-color:#beecea;
}

.c-navigation ul li.focused {
  color:#fff;
  background-color:#41c7c2;
}

.c-navigation p {
  padding-top:15px;
  font-size:12px;
}

/* Market */
.c-market-table {
  margin: 20px auto;
  padding: 2px;
}

/* Limit Selector */
.c-limit-selector {
  margin-bottom: 20px;
}

.c-disabled-section {
  pointer-events: none;
  opacity: 0.7;
}