body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-progress-bar {
  margin-top: 50px;
}

.c-action-button-bar {
  margin-top: 50px;
}

.c-grid-modal-img {
  max-width: 80%;
  max-height: 800px;
}

.c-action-radio-bar {
  align-content: center;
}